<div class="text-center">
  <h2>tu opinion es importante</h2>
</div>
<div class="container">
  <h2>Datos personales</h2>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label for="first-name">Nombre </mat-label>
    <input
      matInput
      id="first-name"
      type="text"
      formControlName="firstName"
      required
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="last-name">Apellidos</mat-label>
    <input
      matInput
      id="last-name"
      type="text"
      formControlName="lastName"
      required
    />
  </mat-form-field>

  <div formGroupName="address">
    <h2>Direccion</h2>
    <mat-form-field>
      <mat-label for="street">Calle: </mat-label>
      <input
        matInput
        id="street"
        type="text"
        formControlName="street"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label for="city">Ciudad</mat-label>
      <input matInput id="city" maxlength="15" #city type="text" formControlName="city" required />
      <mat-hint align="end">{{city.value.length}}/15</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="state">Estado: </mat-label>
      <input matInput id="state" type="text" formControlName="state" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="zip">Codigo postal: </mat-label>
      <input matInput id="zip" type="text" formControlName="zip" required />
    </mat-form-field>
  </div>
  <p>Por favor, complete el formulario</p>
  <button type="submit" [disabled]="!profileForm.valid">Enviar</button>
</form>
</div>

