<footer id="contact" class="">
  <div class="container overflow-hidden mb-3">
    <h2 class="text-center fw-bold text-primary">Contacto</h2>
    <div class="container overflow-hidden mb-2">
      <div class="row gx-4 text-center">
        <a href="https://github.com/JavierCoca95" class="col">
          <img src="../../../assets/images/github.png" width="25" height="25" />
        </a>
        <a
          href="https://www.linkedin.com/in/francisco-javier-coca-membribes-26893090/"
          class="col"
        >
          <img
            src="../../../assets/images/linkedin.png"
            width="25"
            height="25"
          />
        </a>

        <a href="mailto:javiercocamembribes.com" class="col">
          <img src="../../../assets/images/gmail.png" width="25" height="25" />
        </a>
	  </div>
    </div>
    <div class="text-sm-start fs-6 mb-4 my-0 py-0 fw-light text-secondary">
      <p>&copy; Coded by riverfront</p>
    </div>
  </div>
</footer>
