/* h1 {
	text-align: center;
	font-family: 'Anek Telugu', sans-serif;
	font-size: 50px;
	margin-bottom: 50px;
	margin-top: 50px;
} 
.example-card {
	max-width: 400px;
  }
  
  .example-header-image {
	width: 50px;
	height: 50px;
	background-size: contain;
	max-width: 100px;
	transform: scale(0.5);
  }
  ul {
	list-style-type: none;
	width: 100%;
	padding: 0;
  }

  .skills {
	font-size: 9px;
  }

  .project-description {
	font-size: 13px;
	margin-left: 10px;
	margin-right: 10px;
  }


.mat-mdc-snack-bar-container.snackbar-error {
	width: 20px !important;
	border: 1px solid red !important;
  }

  */