<section id="projects" class="mb-5">
  <h1 class="text-center fw-bold text-primary">Proyectos</h1>
  <p>Estos son algunos de los proyectos que he realizado</p>

  <div class="mx-4">
    <ng-container *ngIf="projects && projects.length > 0">
      <ng-container *ngFor="let project of projects">
        <mat-card class="mb-4 rounded shadow">
          <mat-card-header class="d-flex align-items-center">
            <i [class]="project.icon" class="fs-5 text-secondary"></i>
            <div class="ms-3">
              <mat-card-title class="fs-4">{{ project.name}}</mat-card-title>
              <mat-card-subtitle style="font-size: x-small;">{{
                project.skills
              }}</mat-card-subtitle>
            </div>
          </mat-card-header>
          <hr />
         
          <img
            mat-card-image
            class="rounded mb-4"
            src="{{ project.image }}"
            alt="project picture"
          />

          <mat-card-content>
            <p>
              {{ project.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>click aqui para ver el codigo</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </ng-container>
  </div>
</section>

<ng-template #errorsnack>
  <div class="error-snack">
    <p>ERROR</p>
    <mat-icon>error</mat-icon>
    <p>Ha ocurrido un error al cargar los proyectos</p>
  </div>
</ng-template>
