<section id="projects" class="mb-5">
  <div *ngIf="deviceInfo.isMobile">
    <h1 class="text-center fw-bold text-primary">Proyectos</h1>
    <p>Estos son algunos de los proyectos que he realizado</p>

    <div class="mx-4">
      <ng-container *ngIf="projects && projects.length > 0">
        <ng-container *ngFor="let project of projects">
          <mat-card class="mb-4 rounded shadow">
            <mat-card-header class="d-flex align-items-center">
              <i [class]="project.icon" class="fs-5 text-secondary"></i>
              <div class="ms-3">
                <mat-card-title class="fs-4">{{ project.name }}</mat-card-title>
                <mat-card-subtitle style="font-size: x-small">
                  {{project.skills}}
                </mat-card-subtitle>
              </div>
            </mat-card-header>
            <hr />

            <img
              mat-card-image
              class="rounded mb-4"
              src="{{ project.image }}"
              alt="project picture"
            />

            <mat-card-content>
              <p>
                {{ project.descriptionTitle }}
                {{ project.descriptionBody }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a mat-button href="{{project.link}}" target="_blank">
                <mat-icon>code</mat-icon>
              </a>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div *ngIf="deviceInfo.isDesktop">
    <h1 style="font-size: 5rem" class="text-center text-primary mt-3">Proyectos</h1>
    <p class="text-center">Estos son algunos de los proyectos que he realizado</p>

    <div class="mx-4">
      <div class="row">
        <ng-container *ngIf="projects && projects.length > 0">
          <ng-container *ngFor="let project of projects">
            <div class="col-3">
              <mat-card class="mb-4 rounded shadow">
                <mat-card-header class="d-flex align-items-center">
                  <i [class]="project.icon" class="fs-5 text-secondary"></i>
                  <div class="ms-3">
                    <mat-card-title class="fs-4">{{
                      project.name
                    }}</mat-card-title>
                    <mat-card-subtitle style="font-size: x-small">{{
                      project.skills
                    }}</mat-card-subtitle>
                  </div>
                </mat-card-header>
                <hr />

                <img
                  mat-card-image
                  style="object-fit: cover;
                  height: 200px;"
                  class="rounded mb-4"
                  src="{{ project.image }}"
                  alt="project picture"
                />

                <mat-card-content>
                  <p>
                    {{ project.descriptionTitle }}
                    <a class="btn" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+ project.id" role="button" aria-expanded="false" aria-controls="collapseExample" style="margin: 0; padding: 0;">
                      leer más
                    </a>
                    <div class="collapse" id="{{project.id}}">
                      <div class="card card-body">
                        {{ project.descriptionBody }}
                      </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                  <a mat-button href="{{project.link}}" target="_blank">
                    <mat-icon>code</mat-icon>
                  </a>
                </mat-card-actions>
              </mat-card>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<ng-template #errorsnack>
  <div class="error-snack">
    <p>ERROR</p>
    <mat-icon>error</mat-icon>
    <p>Ha ocurrido un error al cargar los proyectos</p>
  </div>
</ng-template>
