<section id="home" class="container">
	<div class="mb-5">
		<div class="d-flex flex-column justify-content-center align-items-center">
			<div class="my-4 text-center">
				<h1 style="font-size: 3rem" class="text-primary">Javier Coca</h1>
				<h2 class="fs-5 my-0 py-0 fw-normal text-primary">Desarrollador Frontend</h2>
				<p class="my-0 text-secondary">¡Bienvenido a mi portfolio!</p>
				<p class="text-secondary">Aquí puedes ver algunos de mis trabajos</p>
			</div>

			<img class="rounded-circle shadow avatar-image" src="assets/images/profile-pic.png" alt="me!">
		</div>
	</div>

	<app-aboutme #aboutme></app-aboutme>
	<app-projects #projects></app-projects>
</section>