<section id="aboutme">
<h1>Sobre mi</h1>
</section>


<mat-card class="aboutme-card">
	<mat-card-header>
	  <div mat-card-avatar class="cardheader-image"></div>
	  <mat-card-title>Inicios de 2022</mat-card-title>
	  <mat-card-subtitle>Inicio en la programacion con Campus 42 de telefonica</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="assets/aboutme.jpg" alt="picture 2022">
	<mat-card-content>
	  <p>
		Comencé en esto aprendiendo Java y C, 
		pero poco tiempo después conocí el desarrollo web.
	  </p>
	</mat-card-content>
  </mat-card>
  
  <mat-card class="aboutme-card">
	<mat-card-header>
	  <div mat-card-avatar class="cardheader-image"></div>
	  <mat-card-title>Inicio de 2023</mat-card-title>
	  <mat-card-subtitle>Desarrollo web</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="assets/aboutme2.png" alt="picture 2023">
	<mat-card-content>
	  <p>
		A partir de entonces he aprendido HTML, CSS y JavaScript por mi cuenta, 
		y estoy familiarizado con una variedad de marcos y bibliotecas,
	  </p>
	</mat-card-content>
  </mat-card>
  