section {
	display: flex;
	flex-direction: column;
  }
  
  .aboutme {
	margin-left: 20px;
	padding: 0;
	font-size: 10px;
  }
  
  .img2 {
	max-width: 100%;
  }

  
	.aboutme_secondpart {
	  flex: 1;
	  font-size: 10px;
	  margin-left: 20px;
	}
  
	.img3 {
	  margin-right: 10px;
	}
	h1 {
		text-align: center;
		font-family: 'Anek Telugu', sans-serif;
	}
	.aboutme-card {
		max-width: 400px;
	  }
	  
	  .cardheader-image {
		background-image: url('../../../assets/card-icon.png');
		background-size: cover;
	  }
	  