:root {
    --bs-primary: #5353ab !important;
}

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: 'Anek Telugu', sans-serif !important;
}

.text-primary {
    color: var(--bs-primary) !important;
}